.svg1-line {
    fill: none;
    stroke-width: 2.0;
}

.svg1-line:hover {
    stroke-width: 4.0;
}

.svg1-line-color1 {
    stroke: #AE8F00;
}

.svg1-line-color2 {
    stroke: #004B97;
}

.svg1-line-color3 {
    stroke: #019858;
}

.svg1-axis-title {
    text-anchor: middle;
    font-size: 12px;
}

.svg2-male {
    fill: #004B97;
}

.svg2-female {
    fill: #BF0060;
}

.svg2-year-text {
    stroke: none;
    text-anchor: left;
    font-size: 8px;
}

.svg2-year-text-highlight-color {
    stroke: #AE8F00;
}

.svg2-axis-title {
    text-anchor: middle;
    font-size: 12px;
}

.population-svg4-year {
    stroke: none;
    text-anchor: left;
    font-size: 8px;
}

.population-svg4-year-highlight {
    stroke: #AE8F00;
}

.population-svg4-arc {
    stroke: #FFFFFF;
    stroke-width: 1.0;
    opacity: 0.7;
}

.population-svg4-line {
    stroke: #000000;
    stroke-width: 1.0;
    fill: none;
}

.population-svg4-label {
    font-size: 6px;
}