.taiwan-map-town,
.taiwan-map-county {
    fill: #01814A;
    stroke: #000000;
    stroke-width: 0.3px;
}

.taiwan-map-town:hover,
.taiwan-map-county:hover {
    fill: #D0D0D0;
    stroke-width: 1.5;
}