.town {
    
    stroke: black;
    stroke-width: 0.3px;
}

.town:hover {
    fill: lightgray;
}

.country {
    fill: #01814A;
    stroke: black;
    stroke-width: 0.3px;
}

.country:hover {
    fill: lightgray;
}

.selected-county {
    fill: lightgray; /* Set the fill color for the selected county */
    stroke: red; /* Set the stroke color for the selected county */
    stroke-width: 1; /* Set the stroke width for the selected county */
}